.kastrat-nav-container,
.kastrat-main-container,
.kastrat-footer-container,
.kastrat-detail-main-container {
  margin: auto;
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  font-family: "Nunito", sans-serif;
}

.kastrat-nav-container {
  border-bottom: 1px solid #b8b6b6;
}

.kastrat-nav-container .brand h1 {
  font-weight: 800;
}

.kastrat-nav-container .kastrat-nav-link {
  font-size: 20px;
}

.kastrat-nav-container .search-input:focus {
  border: 1px solid #559f4b;
  box-shadow: 0 0 0 0.3rem rgba(85, 159, 75, 0.25);
}

.kastrat-main-container {
  border-bottom: 1px solid #eaeaea;
  font-family: "Quicksand", sans-serif !important;
  font-weight: 600;
}

.year {
  border-bottom: 1px solid #eaeaea;
}

.kastrat-main-container .year h5 {
  font-size: 16px;
  font-weight: 800;
  color: #5c5c5c;
}

.kastrat-main-container .kastrat-main-content a {
  text-decoration: none;
  color: #000;
}

.kastrat-main-container .kastrat-main-content .title h4 {
  font-weight: 700;
  font-size: 20px;
}

.kastrat-main-container .kastrat-main-content .header img {
  height: 20rem;
  width: 100%;
  object-fit: cover;
}

.kastrat-main-container .kastrat-main-content .subject h5 {
  font-size: 15px;
  color: #828282;
}

.kastrat-main-container .kastrat-main-content .author .author-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-shadow: -2px 5px 10px 5px #eaeaea;
}

.kastrat-main-container .kastrat-main-content .author .author-name h6 {
  font-weight: 700;
  font-size: 14px;
  color: #559f4b;
}

.kastrat-main-container .kastrat-main-content .author .author-name p {
  font-size: 12px;
  color: #828282;
}

.kastrat-main-container .kastrat-main-content .header-more img {
  height: 15rem;
  width: 100%;
  object-fit: cover;
}

.kastrat-footer-container {
  font-family: "Quicksand", sans-serif !important;
}

.kastrat-footer-container .copyright-left img {
  width: 15rem;
}

.kastrat-footer-container .copyright-center a {
  text-decoration: underline;
  color: #000;
  font-size: 14px;
}

.kastrat-footer-container .copyright-right a {
  text-decoration: none;
  color: #000;
  font-size: 25px;
  display: inline-block;
  margin: 1.5rem 1.5rem;
}

/* Detail */
.position-fixed {
  top: auto;
  position: relative !important;
}

.kastrat-nav-detail-container .search-detail-input {
  border: 1px solid #d2d2d2;
  background-color: #ededed;
  border-radius: 10px;
  font-size: 14px;
  padding: 0.2rem 1rem;
}

.kastrat-nav-detail-container .search-detail-input input {
  border: none;
  background-color: #ededed;
  border-radius: 0;
  font-size: 14px;
  outline: none;
}

.kastrat-nav-detail-container .kastrat-nav-link {
  font-size: 20px;
}

.img-detail {
  width: 5rem;
}

.kastrat-detail-main-container {
  font-family: "Quicksand", sans-serif !important;
  border: none;
  overflow-x: hidden;
}

.kastrat-detail-main-left .header {
  box-shadow: -10px 15px 10px 1px #eaeaea;
  border-radius: 10px;
}

.kastrat-detail-main-left .content .uploader img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  box-shadow: -2px 5px 10px 5px #eaeaea;
}

.kastrat-detail-main-left .content .uploader .author-detail .author-name p {
  font-size: 14px;
  color: #929292;
}
.kastrat-detail-main-left .content .uploader .author-detail .author-name h6 {
  font-weight: 700;
}

.kastrat-detail-main-left .content .uploader i {
  font-size: 14px;
  color: #929292;
}

.kastrat-detail-main-left .content .uploader i:hover {
  cursor: pointer;
  color: #000;
}

.kastrat-detail-main-left .content .title h3 {
  font-weight: 1000;
}

.kastrat-detail-main-left .content .subject h5 {
  font-weight: 700;
}

.kastrat-detail-main-left .content .description p {
  text-align: justify;
}

.kastrat-detail-main-right {
  border-left: none;
  border-bottom: 1px solid #828282;
  height: 100vh;
}

.kastrat-detail-main-right .header .author-img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  box-shadow: -2px 5px 10px 5px #eaeaea;
}

.kastrat-detail-main-right .header .author-name h5 {
  font-weight: 700;
}

.kastrat-detail-main-right .header .author-name p {
  font-size: 14px;
  color: #787878;
}

.kastrat-detail-main-right .header .author-interact .btn {
  padding: 0.3rem 0.8rem;
  border-radius: 50px;
}

.kastrat-detail-main-right .header .author-interact .btn-success {
  background-color: #559f4b;
  border: none;
}

.kastrat-detail-main-right .header .author-interact .btn-success:hover {
  background-color: #396932;
  border: none;
}

.kastrat-detail-main-right .content .content-title h6 {
  font-weight: 700;
}

.kastrat-detail-main-right .content .content-main h6 {
  font-weight: 700;
  font-size: 12px;
}

.kastrat-detail-main-right .content .content-main .author-img img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  box-shadow: -2px 5px 10px 5px #eaeaea;
}

.kastrat-detail-main-right .content .content-main .author-img p {
  font-size: 10px;
}

.kastrat-detail-main-right .content .content-main .content-main-right img {
  width: 15rem;
}

.kastrat-detail-main-right .footer {
  position: absolute;
  bottom: 0;
}

.kastrat-detail-main-right .footer a {
  color: #626262;
  font-size: 12px;
}

@media (min-width: 768px) {
  .kastrat-nav-container,
  .kastrat-main-container,
  .kastrat-footer-container,
  .kastrat-detail-main-container {
    margin: 0 180px !important;
    padding: 0 0 !important;
    font-family: "Nunito", sans-serif;
  }

  .kastrat-detail-main-container {
    border-bottom: 1px solid #828282;
    overflow-x: visible;
  }

  .kastrat-detail-main-right {
    border-left: 1px solid #b8b6b6;
    border-bottom: none;
    height: 100vh;
  }

  .kastrat-footer-container .copyright-right a {
    font-size: 25px;
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0;
  }

  .position-fixed {
    top: 0;
    position: sticky !important;
  }
}
